.no-style-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    height: 80px;
    width: auto;
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 229, 187);
}

.main-title {
    display: flex;
}

.main-title-text {
    display: flex;
    flex-direction: column;
}