/* SECTION NUMBER 1 */
.section-1 {
    background-color: rgb(201, 229, 187);
}

.content {
    display: flex;
    flex-direction: column;

    margin: 128px;
    margin-top: 0;
    margin-bottom: 0;

    /* temporary */
    background-color: lightblue;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 80px;
    width: auto;
}

.header-links {
    display: flex;
    gap: 24px;
}


.main-title {
    display: flex;
    justify-content: space-between;

    margin-top: 128px;
}

.main-title button {
    width: 100px;
    flex-grow: 0;
}

.main-title-text {
    display: flex;
    flex-direction: column;
}

.main-title-text img {
    flex: auto;
}

/* OTHER */
.no-style-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* SECTION NUMBER 2 */
.section-2 {
    background-color: lightgrey;
}

.section-2 .content {
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    flex: 0 1 auto;
    width: 80px;
    height: 120px;
    border: 2px solid brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    border: 2px solid black;
    width: 80px;
    height: 80px;
}